@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
@import url("tldraw/tldraw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.DingLayout {
    position: absolute;
    z-index: 300;
    pointer-events: none;
    inset: 0px;
}

.DingItem {
    pointer-events: all;
}
